# Python internals
venv/
__pycache__/
*.pyc
.vscode/

# Security & Config
.env
*.har
*.txt
config/
GEMINI.md

# Folders Data (Struktur & Output)
/llama-stack-app/
/instagram\ structure/
/laporan_tahunan/
/bol_structure/
/news\ structure/
/data/
/logs/
/src/archive/

# File Data Spesifik (Excel & Log)
*.xlsx
*.log
STPIM.IIADetail*

/bps_sentinel_v61.py
